.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.header {
  font-size: 64px;
  color: aqua;
  text-decoration: underline;
}